<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Evaluaciones</title>
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header class="header">
        <!-- Nueva Sección de Búsqueda -->
        <div class="search-section">
            <input type="text" placeholder="Buscar ...">
            <i class="fas fa-search search-icon"></i>
        </div>

        <div class="header-options">
            <a href="/my-account">
                <img src="<%= user.imagePath ? '/' + user.imagePath : '/img/user.png' %>" alt="my user img" class="profile-img">
            </a>
        </div>

    </header>

    <script>
        // JavaScript para el popup de notificaciones
        document.addEventListener("DOMContentLoaded", function() {
            // Seleccionamos los elementos necesarios
            const bellIcon = document.querySelector('.fa-bell');
            const notificationPopup = document.getElementById('notificationPopup');
            const closePopupIcon = document.querySelector('.close-popup');

            // Mostrar el popup al hacer clic en el icono de la campana
            bellIcon.addEventListener('click', function() {
                notificationPopup.style.display = 'block';
            });

            // Cerrar el popup al hacer clic en el icono de cerrar
            closePopupIcon.addEventListener('click', function() {
                notificationPopup.style.display = 'none';
            });

            // Cerrar el popup si se hace clic fuera de él
            window.addEventListener('click', function(e) {
                if (e.target !== notificationPopup && e.target !== bellIcon) {
                    notificationPopup.style.display = 'none';
                }
            });
        });
    </script>

</body>

</html>