<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Evaluaciones</title>
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header class="header">
        <!-- Nueva Sección de Búsqueda -->
        <form class="search-section" action="/empleados/buscar" method="GET">
            <input type="text" id="searchHandler" name="nombre" placeholder="Buscar empleado por nombre" />
        </form>


        <div id="empleadoResultados "></div>

        <div class="header-options ">
            <i class="fas fa-bell "></i>
            <img src="https://infonegocios.info/content/cards/82843_Carina%20Campo%20-%20Bitsion.png " alt="Carina Campo " class="profile-img ">
        </div>

        <div class="notification-popup " id="notificationPopup ">
            <div class="popup-header ">
                <h3>Notificaciones</h3>
                <i class="fas fa-times close-popup "></i>
            </div>
            <!-- <div class="popup-body ">
                    <% // if (notificaciones.length != 0) { %>
                    <% // for (notificacion of notificaciones) {%>
                        <p>No tienes nuevas notificaciones</p>
                        <p>Endererrrpell</p>
                    <% // } %>
                <% // } %> 
            </div> -->
        </div>
    </header>

    <script>
        // JavaScript para el popup de notificaciones
        document.addEventListener("DOMContentLoaded ", function() {
                // Seleccionamos los elementos necesarios
                const bellIcon = document.querySelector('.fa-bell');
                const notificationPopup = document.getElementById('notificationPopup');
                const closePopupIcon = document.querySelector('.close-popup');

                // Mostrar el popup al hacer clic en el icono de la campana
                bellIcon.addEventListener('click', function() {
                    notificationPopup.style.display = 'block';
                });

                // Cerrar el popup al hacer clic en el icono de cerrar
                closePopupIcon.addEventListener('click', function() {
                    notificationPopup.style.display = 'none';
                });

                // Cerrar el popup si se hace calic fuera de él
                window.addEventListener('click', function(e) {
                    if (e.target !== notificationPopup && e.target !== bellIcon) {
                        notificationPopup.style.display = 'none';
                    }
                })
            })
            // no se por que pero no esta funcionando la actualizacion a tiempo real 
        function debounce(func, delay) {
            let timeoutId;
            return function(...args) {
                if (timeoutId) {
                    clearTimeout(timeoutId) // Cancela la llamada anterior si el usuario sigue escribiendo
                }
                timeoutId = setTimeout(() => {
                    func.apply(this, args)
                }, delay)
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            const searchInput = document.getElementById('searchEmpleado');

            // Evento keydown para capturar cuando el usuario presiona Enter
            searchInput.addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    event.preventDefault();

                    const searchEmpleado = searchInput.value

                    if (searchEmpleado.length > 0) {
                        const url = `/empleados/buscar?valor=${encodeURIComponent(searchEmpleado)}`
                        console.log(`URL generada: ${url}`);

                        // Realizar la solicitud fetch al servidor
                        fetch(url)
                            .then(response => response.json())
                            .then(data => {
                                const empleados = data.empleados;
                                const resultadosDiv = document.getElementById('empleadoResultados')
                                resultadosDiv.innerHTML = ''

                                if (empleados.length === 0) {
                                    resultadosDiv.innerHTML = '<p>No se encontraron empleados.</p>'
                                } else {
                                    empleados.forEach(empleado => {
                                        const empleadoItem = document.createElement('p')
                                        empleadoItem.textContent = `${empleado.nombre} ${empleado.apellido} (Legajo: ${empleado.legajo})`
                                        resultadosDiv.appendChild(empleadoItem)
                                    })
                                }
                            })
                            .catch(error => {
                                console.error('Error al realizar la búsqueda:', error)
                            });
                    } else {
                        alert('Por favor ingrese un valor en el campo de búsqueda')
                    }
                }
            })
        })
    </script>

</body>

</html>