<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Evaluaciones</title>
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
        <!-- Panel lateral izquierdo -->
        <aside class="sidebar">
            <div class="logo">
                <a href="/home-admin"><img src="/img/Logo BitQualy Blanco.png" alt="BitQualy Logo"/></a>            </div>
            <nav>
                <div class="menu-item">
                    <a href="/empleados"><i class="fas fa-users"></i> Empleados</a>
                </div>
                <div class="menu-item">
                    <a href="/evaluadores"><i class="fas fa-user-tie"></i> Evaluadores</a>
                </div>
                <div class="menu-item">
                    <a href="/reguladores"><i class="fas fa-clipboard-check"></i> Intermediarios</a>
                </div>
                <div class="menu-item">
                    <a href="/user-creator"><i class="fas fa-user-plus"></i> Crear Empleado</a>
                </div>
                <div class="gestion-section">
                    <a href="#" class="dropdown-btn"><i class="fas fa-tasks"></i> GESTIÓN EVALUACIONES <i class="fas fa-chevron-down"></i></a>
                    <div class="dropdown-container">
                        <br>
                        <div class="menu-item">
                            <br>
                            <a href="/evaluaciones" class="line"><i class="fas fa-file-alt"></i> <span class="dot"></span> Evaluaciones </a>
                        </div>
                        <br>
                        <div class="menu-item">
                            <a href="/formularios" class="line"><i class="fas fa-list-alt"></i> <span class="dot"></span> Formularios </a>
                        </div>
                    </div>
                </div>
            </nav>
        </aside>
<script>
    // JavaScript para mostrar/ocultar el submenú
    const dropdownBtn = document.querySelector('.dropdown-btn');
        const dropdownContainer = document.querySelector('.dropdown-container');
    
        dropdownBtn.addEventListener('click', function(e) {
            e.preventDefault();
            dropdownContainer.classList.toggle('active');
        });
</script>
