<!DOCTYPE html>
<html lang="eS">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/header.css">
    <title>EDIT MY ACCOUNT</title>
</head>

<body>
    <form action="/my-account/update" method="POST" enctype="multipart/form-data">
        <label for="email">Email:</label>
        <input type="email" name="email" value="<%= user.email %>" required>

        <label for="password">New Password:</label>
        <input type="password" name="password" placeholder="Enter new password">

        <label for="profile-photo">Profile Photo:</label>
        <input type="file" name="image">

        <button type="submit">Update Profile</button>
    </form>

    <script>
        function previewImage(event) {
            const input = event.target
            const reader = new FileReader()

            reader.onload = function() {
                const imagePreview = document.getElementById('image-preview-img')
                imagePreview.src = reader.result
                imagePreview.style.display = 'block'
            }
            if (input.files && input.files[0]) {
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</body>

</html>