/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body, html {
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: #f4f4f4;
    color: #333;
    padding-left: 70px;
    align-items: center;
    min-height: 100vh;
}

/* Panel principal */
.main-content {
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%; /* Ancho adaptable */
    max-width: 800px; /* Máximo ancho */
    margin: 20px 0; /* Espaciado superior e inferior */
    
}

/* Estilo de los encabezados */
h1, h2, h3 {
    color: #333;
    margin: 10px 0;
}

/* Estilo del contenedor de respuestas */
.respuestas-container {
    margin-top: 20px;
}

/* Estilo de cada respuesta */
.respuesta-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fafafa; /* Fondo claro */
}

.inputs-texto {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo de la tabla */
table {
    width: 100%; /* Ancho completo */
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0; /* Color de fondo del encabezado */
}

td {
    background-color: #ffffff; /* Color de fondo de las celdas */
}

/* Enlaces */
a {
    display: inline-block;
    margin-top: 20px;
    color: #2ecc71; /* Color verde */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Subrayar al pasar el ratón */
}

/* Estilo del usuario */
.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-info img {
    width: 50px; /* Tamaño de la imagen del usuario */
    border-radius: 50%; /* Imagen redondeada */
    margin-right: 10px;
}

/* Estilo del botón */
.button {
    display: inline-block; /* Muestra como un bloque en línea */
    padding: 10px 20px; /* Espaciado interno */
    background-color: #2ecc71; /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
    margin-top: 20px; /* Espaciado superior */
}

.button:hover {
    background-color: #27ae60; /* Color más oscuro al pasar el ratón */
}


/* Estilo responsive */
@media (max-width: 600px) {
    .main-content {
        padding: 10px;
        width: 95%; /* Aumentar el ancho en pantallas pequeñas */
    }
    
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }
}

