* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: #f4f4f4;
}
.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
}
.sidebar .logo img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.sidebar nav .menu-item a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.sidebar nav .menu-item a i {
    margin-right: 10px;
}
.sidebar nav .menu-item a:hover {
    background-color: #575757;
    transform: scale(1.05);
}
.sidebar .gestion-section .dropdown-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: white;
    background-color: transparent;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.sidebar .gestion-section .dropdown-container {
    display: none;
    padding-left: 20px;
}
.sidebar .gestion-section .dropdown-container.active {
    display: block;
}
.main-content {
    flex-grow: 1;
    padding: 50px;
    background-color: #fff;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.form-container h2, .form-preview h3 {
    margin-bottom: 20px;
}
.form-list button {
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}
