/* Navbar Styles */
/* Asegúrate de que el contenedor padre tenga un layout flexible */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar fijo */
.sidebar {
    width: 250px; /* Asegúrate de que tenga un ancho fijo */
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed; /* Fija el sidebar a la izquierda */
    top: 0;
    left: 0;
    height: 100%;
}

/* Asegúrate de que el contenido principal ocupe el resto del espacio */
.main-content {
    flex-grow: 1; /* Hace que el contenido principal ocupe todo el espacio restante */
    padding: 50px;
    margin-left: 250px; /* Mueve el contenido principal a la derecha del sidebar */
    background-color: #fff;
    overflow-y: auto;
}


.sidebar .logo {
    margin-bottom: 20px;
    text-align: center;
}

.sidebar .logo img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.sidebar nav .menu-item {
    margin-bottom: 20px;
}

.sidebar nav .menu-item a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sidebar nav .menu-item a i {
    margin-right: 10px;
}

.sidebar nav .menu-item a:hover {
    background-color: #575757;
    transform: scale(1.05);
}

/* Dropdown section */
.sidebar .gestion-section .dropdown-btn {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    color: white;
    background-color: transparent;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sidebar .gestion-section .dropdown-btn:hover {
    background-color: #575757;
    transform: scale(1.05);
}

.sidebar .gestion-section .dropdown-btn i:last-child {
    margin-left: 10px;
}

/* Dropdown items */
.sidebar .gestion-section .dropdown-container {
    display: none;
    padding-left: 20px;
}

.sidebar .gestion-section .dropdown-container.active {
    display: block;
}

.sidebar .gestion-section .dropdown-container .menu-item {
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
}

.sidebar .gestion-section .dropdown-container .menu-item a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sidebar .gestion-section .dropdown-container .menu-item a i {
    margin-right: 10px;
}

.sidebar .gestion-section .dropdown-container .menu-item a:hover {
    background-color: #575757;
    transform: scale(1.05);
}

/* Vertical line */
.sidebar .gestion-section .dropdown-container .menu-item .line {
    position: absolute;
    left: 0;
    width: 5px;
    height: 100%;
}

/* Remove dots */
.sidebar .gestion-section .dropdown-container .menu-item .dot {
    display: none;
}

/* Responsive Design */
@media (max-width: 480px) {
    .sidebar {
        width: 100%;
        height: auto;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        position: relative;
    }

    .sidebar .logo {
        margin-bottom: 0;
        text-align: left;
    }

    .sidebar nav .menu-item {
        margin: 0 10px;
    }

    .sidebar nav .menu-item a {
        padding: 10px;
    }
}
