/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Arial', sans-serif;
    height: 100%;
    background-color: #f4f4f4;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}


/* Main Content */
.container {
    margin-left: 220px; /* Debe coincidir con el ancho del sidebar */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
   
}

/* Formulario */
.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Aumentamos el ancho máximo para reducir espacio en blanco */
    width: 100%;
}

/* Estilo de los campos del formulario */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

.form-group select:focus {
    border-color: #007bff;
    outline: none;
}

/* Botones */
.btn-aceptar {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-aceptar:hover {
    background-color: #0056b3;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .container {
        margin-left: 0;
    }

    .form-container {
        width: 90%;
    }
}
