:root {
    --color-gris-claro: #f4f4f4;
    --color-gris: #ccc;
    --color-gris-texto: #555;
    --color-blanco: #ffffff;
    --color-azul: #007bff;
    --color-azul-hover: #0056b3;
    --color-texto: #333;
}
/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Arial', sans-serif;
    height: 100%;
    background-color: var(--color-gris-claro);
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color:  var(--color-texto);
}


/* Main Content */
.container {
    margin-left: 220px; /* Debe coincidir con el ancho del sidebar */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-gris-claro);
   
}

/* Formulario */
.form-container {
    background-color: var(--color-blanco);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Aumentamos el ancho máximo para reducir espacio en blanco */
    width: 100%;
}

/* Estilo de los campos del formulario */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--color-gris-texto);
}

.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-gris);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--color-blanco);
    transition: border-color 0.3s ease;
}

.form-group select:focus {
    border-color: var(--color-azul);
    outline: none;
}

/* Botones */
.btn-aceptar {
    width: 100%;
    padding: 10px;
    background-color: var(--color-azul);
    color: var(--color-blanco);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-aceptar:hover {
    background-color: var(--color-azul-hover);
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .container {
        margin-left: 0;
    }

    .form-container {
        width: 90%;
    }
}
