  
  :root {
    --color-gris-claro: #f4f4f4;
    --color-blanco: #ffffff;
    --color-gris: #ccc;
    --color-azul: #007bff;
    --color-azul-hover: #0056b3;
    --color-verde: #28a745;
    --color-rojo: #dc3545;
    --color-rojo-hover: #c82333;
}
  /* Estilos generales */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: var(--color-gris-claro);
}

.container {
    display: flex;
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

/* Estilos del contenido principal */
.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Estilos del formulario */
.form-editor {
    background-color: var(--color-blanco);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1; /* Ocupa todo el espacio disponible */
    overflow-y: auto; /* Permite el desplazamiento si es necesario */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-gris);
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-add {
    background-color: var(--color-azul);
    color: white;
}

.btn-add:hover {
    background-color: var(--color-azul-hover);
}

.btn-save {
    background-color: var(--color-verde);
    color: var(--color-blanco);
    margin-right: 10px;
}

.btn-cancel {
    background-color: var(--color-rojo);
    color: var(--color-blanco);
}

.btn-delete {
    background-color: var(--color-rojo);
    color: var(--color-blanco);
}

.btn-delete:hover {
    background-color: var(--color-rojo-hover);
}

.preview-section {
    margin-top: 20px;
    background-color: var(--color-blanco);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}