/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex; /* Habilita flexbox en el body */
    flex-direction: column; /* Asegura que los hijos se apilen verticalmente */
    align-items: center; /* Centra horizontalmente los hijos */
    height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
}

/* Contenedor principal */
.container {
    display: flex;
    flex-grow: 1; /* Permite que el contenedor principal ocupe el espacio disponible */
    justify-content: space-between; /* Asegura que los paneles estén separados */
    width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho */
}


/* Contenido principal */
.maincontent {
    flex-grow: 1; /* Hace que el contenido principal ocupe todo el espacio restante */
    padding: 50px;
    margin-left: 250px; /* Mueve el contenido principal a la derecha del sidebar */
    background-color: #fff;
    overflow-y: auto;
    margin-right: 2px; /* Da espacio al panel derecho */
}
 
/* Estilos del usuario */
.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* Sección de formulario */
.modify-form-section {
    margin-top: 20px;
}

h2 {
    color: #4a90e2;
}

/* Estilos del formulario */
.form-editor {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo para input de texto */
/* Estilo para el input de texto */
input[type="text"] {
    width: 400px; /* Ajustar el ancho del input */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block; /* Para que se alinee con el select */
    vertical-align: middle; /* Alineación vertical */
    margin-right: 10px; /* Espacio a la derecha del input */
    margin-top: 1%;
}

/* Estilo para select */
select {
    width: 200px; /* Ajustar el ancho del select */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block; /* Para alinearse con el input */
    vertical-align: middle; /* Alineación vertical */
    
}


input[type="text"]:focus {
    border-color: #007bff;
    background-color: #f0f8ff;
}

/* Estilo para input numérico */
input[type="number"] {
    width: 200px; /* Diferente ancho para el input numérico */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 50px; /* Menos redondeado */
    box-sizing: border-box;
    transition: border-color 0.3s, background-color 0.3s;
}

input[type="number"]:focus {
    border-color: #28a745;
    background-color: #e9f7ef;
}

/* Estilo para textarea */
textarea {
    width: 85%; /* Ancho más grande para textarea */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s, background-color 0.3s;
    margin-top: 1%;
}

textarea:focus {
    border-color: #ff9800;
    background-color: #fff7e6;
}

/* Estilo para select */


select:focus {
    border-color: #4a90e2;
    background-color: #e7f4ff;
}


input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    border-color: #4a90e2;
}






.btn-add-option {
    background-color:transparent;
    color: rgb(25, 199, 34);
    border: none;
    border-radius: 20px; /* Aumento del redondeado */
    padding: 10px 20px; /* Asegúrate de que haya suficiente espacio */
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
    margin-left: 600px;
}

.btn-delete{
    background-color: transparent;
    color: rgb(5, 5, 5);
    border: none;
    border-radius: 20px; /* Aumento del redondeado */
    padding: 10px 20px; /* Asegúrate de que haya suficiente espacio */
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 0px;
}

 


    


/* Estilos de las opciones */
.options-group {
    margin-top: 10px;
    padding-left: 20px;
    border-left: 2px solid #e0e0e0;
}

.option-item {
    margin-bottom: 10px;
}

/* Vista previa del formulario */
.preview-section {
    margin-top: 20px;
}

iframe {
    border: none;
    border-radius: 5px;
}

/* Estilos para el input de porcentaje */
.percentage-input {
    width: 80%; /* Mantiene el input del porcentaje alineado con otros inputs */
    padding: 10px;
    border: 2px solid #4a90e2; /* Color de borde por defecto */
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #e7f4ff; /* Color de fondo */
    transition: border-color 0.3s; /* Transición suave para el cambio de color */
}

/* Borde rojo para porcentaje < 20 */
.red-border {
    border-color: #dc3545; /* Rojo */
}

/* Borde azul para 20 <= porcentaje < 70 */
.blue-border {
    border-color: #007bff; /* Azul */
}

/* Borde verde para porcentaje >= 70 */
.green-border {
    border-color: #28a745; /* Verde */
}
.opcion1{
    width: 150px; /* Ajustar el ancho del select */
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    display: inline-block; /* Para alinearse con el input */
    vertical-align: middle; /* Alineación vertical */
       
}
.alineados{
    display: flex;  /* Alinea los elementos en una fila horizontal */
    align-items: center;  /* Alinea los elementos verticalmente en el centro */
    gap: 20px;  /* Espacio entre los elementos */
    margin-top: 15px;
}
.alineados2{
    display: flex;  /* Alinea los elementos en una fila horizontal */
    align-items: center;  /* Alinea los elementos verticalmente en el centro */
    gap: 20px;  /* Espacio entre los elementos */
    margin-top: 15px;
}
.btn-delete-option{
    
    background-color: transparent;
    color: rgb(5, 5, 5);
    border: none;
    border-radius: 20px; /* Aumento del redondeado */
    padding: 10px 20px; /* Asegúrate de que haya suficiente espacio */
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 0px;
}
.alineados3{
    display: flex;  /* Alinea los elementos en una fila horizontal */
    align-items: center;  /* Alinea los elementos verticalmente en el centro */
    gap: 20px;  /* Espacio entre los elementos */
    margin-top: 15px;
}
/* Estilos para contenedores de preguntas y opciones */
.question-container {
    border: 1px solid #ddd;
    width: 750px;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f4f7fa1f;
    margin-top: 15px;
}

.option-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.options-group {
    padding-top: 10px;
    padding-left: 20px;
}

.btn-delete-option, .btn-add-option {
    color: #4a90e2;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-delete-option:hover {
    color: #ff0000;
}

/* Estilos para el panel derecho */
.right-panel {
    width: 180px; /* Ancho del panel derecho */
    background-color: #f8f9fa; /* Color de fondo del panel */
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #ddd;
    position: fixed;
    overflow-y: auto;
    margin-left: 800px;
    margin-top: 110px;
}

/* Asegurarse de que el contenedor principal se adapte al panel adicional */
.container {
    display: flex;
}

/* Estilos adicionales para elementos en el panel derecho */
.right-panel h3 {
    color: #4a90e2;
    margin-top: 0;
}

.right-panel p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}

.right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f2f5;
    border-radius: 12px;
    width: 100%;
    max-width: 180px;
}

.right-panel button,
.right-panel a {
    width: 100%;
    margin-bottom: 12px;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 25px; /* Botones redondeados */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    color: black; /* Color de texto en negro */
    background-color: transparent; /* Fondo transparente */
    border: 2px solid black; /* Borde en negro */
}

/* Botón "Añadir Pregunta" */
.btn-add {
    background-color:transparent; /* Verde */
}

.btn-add:hover {
    background-color: #23c22e96;
}

.btn-add i {
    margin-right: 8px;
    font-size: 18px;
}

/* Botón "Guardar Cambios" */
.btn-save {
    width: 200px;
    margin-bottom: 12px;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 25px; /* Botones redondeados */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    color: black; /* Color de texto en negro */
    background-color: transparent; /* Fondo transparente */
    border: 2px solid black; /* Borde en negro */
    margin-top: 10px;
}

.btn-save {
    background-color: #3ac23fd0;
}

.btn-save i {
    margin-right: 8px;
    font-size: 18px;
}

/* Botón "Descargar PDF" */
.btn-download {
    background-color:transparent; /* Azul */
}

.btn-download:hover {
    background-color: #2b4faab6;
}

.btn-download i {
    margin-right: 8px;
    font-size: 18px;
}

/* Botón "Cancelar" */
.btn-cancel {
    background-color:transparent; /* Rojo */
}

.btn-cancel:hover {
    background-color: #b32323;
}

.btn-cancel i {
    margin-right: 8px;
    font-size: 18px;
}
