/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex; /* Habilita flexbox en el body */
    flex-direction: column; /* Asegura que los hijos se apilen verticalmente */
    align-items: center; /* Centra horizontalmente los hijos */
    height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
}

/* Contenedor principal */
.container {
    display: flex;
    flex-grow: 1; /* Permite que el contenedor principal ocupe el espacio disponible */
    justify-content: space-between; /* Asegura que los paneles estén separados */
    width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho */
}


/* Contenido principal */
.maincontent {
    flex-grow: 1; /* Hace que el contenido principal ocupe todo el espacio restante */
    padding: 50px;
    margin-left: 250px; /* Mueve el contenido principal a la derecha del sidebar */
    background-color: #fff;
    overflow-y: auto;
    margin-right: 2px; /* Da espacio al panel derecho */
}
 
/* Estilos del usuario */
.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* Sección de formulario */
.modify-form-section {
    margin-top: 20px;
}

h2 {
    color: #4a90e2;
}

/* Estilos del formulario */
.form-editor {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo para input de texto */
/* Estilo para el input de texto */
input[type="text"] {
    width: 400px; /* Ajustar el ancho del input */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block; /* Para que se alinee con el select */
    vertical-align: middle; /* Alineación vertical */
    margin-right: 10px; /* Espacio a la derecha del input */
}

/* Estilo para select */
select {
    width: 200px; /* Ajustar el ancho del select */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block; /* Para alinearse con el input */
    vertical-align: middle; /* Alineación vertical */
    
}


input[type="text"]:focus {
    border-color: #007bff;
    background-color: #f0f8ff;
}

/* Estilo para input numérico */
input[type="number"] {
    width: 200px; /* Diferente ancho para el input numérico */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 50px; /* Menos redondeado */
    box-sizing: border-box;
    transition: border-color 0.3s, background-color 0.3s;
}

input[type="number"]:focus {
    border-color: #28a745;
    background-color: #e9f7ef;
}

/* Estilo para textarea */
textarea {
    width: 85%; /* Ancho más grande para textarea */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s, background-color 0.3s;
}

textarea:focus {
    border-color: #ff9800;
    background-color: #fff7e6;
}

/* Estilo para select */


select:focus {
    border-color: #4a90e2;
    background-color: #e7f4ff;
}


input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    border-color: #4a90e2;
}

/* Estilos de botones */
/* Estilos de botones */
.modify-buttons {
    display: flex;
    justify-content: flex-start; /* Alinear los botones hacia la izquierda */
    margin-top: 10px; /* Mantener el margen superior */
}

.modify-buttons button {
    margin-right: 10px; /* Ajusta este valor para controlar el espacio entre los botones */
}

.modify-buttons button:last-child {
    margin-right: 0; /* Elimina el margen del último botón */
}


.btn-download {
    background-color: #36bb2a;
    color: white;
    border: none;
    border-radius: 20px; /* Aumento del redondeado */
    padding: 10px 20px; /* Asegúrate de que haya suficiente espacio */
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
    margin-left: 200px;
}

.btn-cancel {
    background-color: #d42a2a;
    color: white;
    border: none;
    border-radius: 20px; /* Aumento del redondeado */
    padding: 10px 20px; /* Asegúrate de que haya suficiente espacio */
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-left: 200px;
}

.btn-add-option {
    background-color: #38df40;
    color: white;
    border: none;
    border-radius: 20px; /* Aumento del redondeado */
    padding: 10px 20px; /* Asegúrate de que haya suficiente espacio */
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

.btn-delete{
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 20px; /* Aumento del redondeado */
    padding: 10px 20px; /* Asegúrate de que haya suficiente espacio */
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 400px;
}

.btn-add,
.btn-save{
    background-color: #4ae251;
    color: white;
    border: none;
    border-radius: 20px; /* Aumento del redondeado */
    padding: 10px 20px; /* Asegúrate de que haya suficiente espacio */
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-add:hover {
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 20px; /* Aumento del redondeado */
    padding: 10px 20px; /* Asegúrate de que haya suficiente espacio */
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-save:hover {
    background-color: #4a90e2;
}

.btn-download:hover {
    background-color: #2f9e3e;
}

.btn-cancel:hover,
.btn-delete:hover,
.btn-add-option:hover {
    background-color: #357ab8;
}

/* Estilos de las opciones */
.options-group {
    margin-top: 10px;
    padding-left: 20px;
    border-left: 2px solid #e0e0e0;
}

.option-item {
    margin-bottom: 10px;
}

/* Vista previa del formulario */
.preview-section {
    margin-top: 20px;
}

iframe {
    border: none;
    border-radius: 5px;
}

/* Estilos para el input de porcentaje */
.percentage-input {
    width: 80%; /* Mantiene el input del porcentaje alineado con otros inputs */
    padding: 10px;
    border: 2px solid #4a90e2; /* Color de borde por defecto */
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #e7f4ff; /* Color de fondo */
    transition: border-color 0.3s; /* Transición suave para el cambio de color */
}

/* Borde rojo para porcentaje < 20 */
.red-border {
    border-color: #dc3545; /* Rojo */
}

/* Borde azul para 20 <= porcentaje < 70 */
.blue-border {
    border-color: #007bff; /* Azul */
}

/* Borde verde para porcentaje >= 70 */
.green-border {
    border-color: #28a745; /* Verde */
}
.opcion1{
        width: 200px; /* Ajustar el ancho del select */
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        display: inline-block; /* Para alinearse con el input */
        vertical-align: middle; /* Alineación vertical */
        margin-left: 600px;
        margin-top: -110px;
}