* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    height: 100vh;
}

.help-section {
    margin-top: auto;
}

.main-content {
    flex-grow: 1;
    padding: 50px;
    background-color: #fff;
    overflow-y: auto;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"],
.form-group input[type="password"]:focus {
    border-color: #888;
}

/* Contenedor de imagen */
.image-and-fields {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;

}

.image-preview {
    position: relative;
    width: 150px;
    height: 150px;
    border: 3px solid #28a745;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10px;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro semitransparente */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease; /* Suaviza la aparición del overlay */
}

.overlay i {
    font-size: 24px;
    margin-bottom: 5px;
}

.overlay span {
    font-size: 14px;
    text-align: center;
}

/* Mostrar overlay al hacer hover */
.image-preview:hover .overlay {
    opacity: 1;
}


.form-fields {
    display: flex;
    flex-direction: column;
    margin-left: 180px;
    margin-top: -158px;
    width: 200px;
}

.form-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    grid-column: 1 / -1;
}

.btn-submit {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #218838;
}

.btn-cancel {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-cancel:hover {
    background-color: #c82333;
}

.password-container {
    position: relative;
}

.password-container input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.eye-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.navbar-item a {
    text-decoration: none !important;
    color: white;
}

.contenedor-evaluaciones a {
    text-decoration: underline;
}

.error-msg {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 10px;
    padding: 10px;
    margin-right: 250px;
    font-size: 14px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    animation: fadeIn 0.5s ease-in-out;
}

.error-msg i {
    color: #f44336;
    font-size: 16px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

