* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f2f5;
    color: #333;
}

.container {
    display: flex; /* Usa flexbox para alinear elementos en fila */
    justify-content: space-between; /* Espaciado entre los elementos */
    align-items: flex-start; /* Alinea elementos en la parte superior */
    width: 80%; /* Puedes ajustar el ancho según sea necesario */
    max-width: 900px;
    margin: 40px auto;
}

.main-content {
    flex: 1; /* Permite que el contenido principal ocupe todo el espacio disponible */
    background-color: #fff;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Espacio entre el contenido principal y el panel de botones */
}

h2 {
    font-size: 1.8em;
    color: #4a90e2;
    margin-bottom: 20px;
}

.form-editor h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.form-group,
.question-container {
    background-color: #fafafa;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    background-color: #fdfdfd;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    border-color: #4a90e2;
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

.percentage-input {
    width: 50%;
}

.options-group {
    margin-top: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.option-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.option-item input[type="text"] {
    flex: 1;
    margin-left: 10px;
}

.btn-add-option,
.btn-delete,
.btn-add,
.btn-save,
.btn-download,
.btn-cancel {
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-add-option {
    background-color: #e7f3ff;
    color: #4a90e2;
}

.btn-delete {
    background-color: #ffe7e7;
    color: #e94e4e;
}

.btn-add {
    background-color: #4a90e2;
    color: #fff;
    display: block;
    width: 40%;
    margin-left: 250px;
}

.btn-save {
    background-color: #27ae60;
    color: #fff;
}

.btn-download {
    background-color: #2980b9;
    color: #fff;
}

.btn-cancel {
    background-color: #e0e0e0;
    color: #333;
    text-decoration: none;
    text-align: center;
}

.btn-add:hover,
.btn-save:hover,
.btn-download:hover,
.btn-cancel:hover,
.btn-delete:hover,
.btn-add-option:hover {
    opacity: 0.9;
}

