/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex; /* Habilita flexbox en el body */
    flex-direction: column; /* Asegura que los hijos se apilen verticalmente */
    align-items: center; /* Centra horizontalmente los hijos */
}

/* Contenido principal */
.main-content {
    padding: 40px; /* Ajusta el espacio alrededor del contenido */
    width: 100%; /* Asegura que ocupe el ancho completo */
    max-width: 800px; /* Ancho máximo del contenido */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Añade un margen superior para espaciarlo del navbar */
}

/* Estilos del encabezado */

/* Sección de formulario */
.modify-form-section {
    margin-top: 20px;
}

h2 {
    color: #4a90e2;
}

/* Estilos del formulario */
.form-editor {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Aumento del redondeado */
    box-sizing: border-box;
    transition: border-color 0.3s, background-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    border-color: #4a90e2;
}

/* Estilos de botones */
/* Estilos de botones */
.modify-buttons {
    display: flex;
    justify-content: space-between; /* Alinear botones */
    margin-top: 40px; /* Aumenta este margen para más espacio entre inputs y botones */
}


.btn-download{
    background-color: #2a36d4;
    color: white;
    border: none;
    border-radius: 20px; /* Aumento del redondeado */
    padding: 10px 20px; /* Asegúrate de que haya suficiente espacio */
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-cancel{
    background-color: #d42a2a;
    color: white;
    border: none;
    border-radius: 20px; /* Aumento del redondeado */
    padding: 10px 20px; /* Asegúrate de que haya suficiente espacio */
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-add-option {
    background-color: #38df40;
    color: white;
    border: none;
    border-radius: 20px; /* Aumento del redondeado */
    padding: 10px 20px; /* Asegúrate de que haya suficiente espacio */
    cursor: pointer;
    transition: background-color 0.3s;
}


.btn-add{
    background-color: #06335a;
    color: white;
    border: none;
    border-radius: 20px; /* Aumento del redondeado */
    padding: 10px 20px; /* Asegúrate de que haya suficiente espacio */
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-save{
    background-color: #063770;
    color: white;
    border: none;
    border-radius: 20px; /* Aumento del redondeado */
    padding: 10px 20px; /* Asegúrate de que haya suficiente espacio */
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-delete,
.btn-add:hover {
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 20px; /* Aumento del redondeado */
    padding: 10px 20px; /* Asegúrate de que haya suficiente espacio */
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-save:hover{
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 20px; /* Aumento del redondeado */
    padding: 10px 20px; /* Asegúrate de que haya suficiente espacio */
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-download:hover{
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 20px; /* Aumento del redondeado */
    padding: 10px 20px; /* Asegúrate de que haya suficiente espacio */
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-cancel:hover{
    background-color: #9b1616;
}

.btn-delete:hover{
    background-color: #c01717;
}
.btn-add-option:hover {
    background-color: #0c6e32;
}


/* Estilos de las opciones */
.options-group {
    margin-top: 10px;
    padding-left: 20px;
    border-left: 2px solid #e0e0e0;
}

.option-item {
    margin-bottom: 10px;
}

/* Vista previa del formulario */
.preview-section {
    margin-top: 20px;
}

iframe {
    border: none;
    border-radius: 5px;
}
/* Estilos para el input de porcentaje */
.percentage-input {
    width: 100%;
    padding: 10px;
    border: 2px solid #4a90e2; /* Color de borde por defecto */
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #e7f4ff; /* Color de fondo */
    transition: border-color 0.3s; /* Transición suave para el cambio de color */
}

/* Borde rojo para porcentaje < 20 */
.red-border {
    border-color: #dc3545; /* Rojo */
}

/* Borde azul para 20 <= porcentaje < 70 */
.blue-border {
    border-color: #007bff; /* Azul */
}

/* Borde verde para porcentaje >= 70 */
.green-border {
    border-color: #28a745; /* Verde */
}
